@import url("https://fonts.googleapis.com/css?family=Baloo|Supermercado+One|Patua+One");

body{
	background:url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/brushed_alu.png");	
	font-family:"Patua One";
  background: #031321;
}

.baner{
  padding-top:60px;
  padding-bottom:20px;
  font-family:Baloo;
  background:url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/dark_wood.png");
  font-size:2em;
  height:100%;
}
.inicio{
  font-family:Arial Black;
  text-shadow:1px 1px gray;
  font-color:#B10005;
  
  /*font-size:26px;  */
  
}

footer{
  padding:14px;
  color:white;
}

.red{
  font-size:46px;
  background-color:black;
  border-box:6px 6px;
}

.portafolio{
  padding:20px;
  height:100%;
  color: #fff;
}

/*Inicio Boton NEON*/

a.neon{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}
a.neon:hover{
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
}
a.neon span{
  position: absolute;
  display: block;
}
a.neon span:nth-child(1)  {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#2196f3);
}
a.neon:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}
a.neon span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#2196f3);
}
a.neon:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
a.neon span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#2196f3);
}
a.neon:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
a.neon span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#2196f3);
}
a.neon:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}


.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  min-height: 60px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  transition: all 0.2s linear;
  background-color: teal;
  font-family: 'Baloo','Arial'
}

.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #337ab7;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.nav-fixed .text-neon-sm{
  //filter: blur(.0px);
  //font-weight: 1px;
  text-shadow: 0 0 2px rgba(255,255,255,1),
              0 0 5px rgba(255,255,255,1),
              0 0 10px rgba(255,255,255,1),
              0 0 20px rgba(255,255,255,1),
              0 0 40px rgba(255,255,255,1);
}

.nav ul {
  display: flex;
  text-transform: uppercase;
  list-style: none;
  margin-bottom: 0px!important;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  
  .nav ul {
    padding-left: 0;
  }

  .nav a {
    font-size: 1.6rem!important;
  }

  .list-group-item h2{
    font-size: 2rem;
  }

}

.nav li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a {
  display: block;
  padding: 5px 10px;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}

.nav a:hover {
  color: #212121;
}


.to-top-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.principal{
  height:100vh;
  font-family: 'Patua One','Arial';
  display: flex;
  justify-content: center;
  align-items: center;
}

.principal .subprincipal{
  position: absolute;
  text-align: center;
  max-width: 600px;
  margin: 6px;
}

.principal .subprincipal h1{
  color: white;
}

.subtitulo{
  font-family: Patua One;
  color:white;
}

.paragraph-desc{
  font-size:1.3em;
}

.descripcion{
  //height: 80vh;
}

.description > div > div, img.img-thumbnail{
  margin-top:60px;
}



/*Fin Boton NEOSN*/

.tns-nav > [aria-controls] {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 0;
}

.tns-nav > .tns-nav-active {
    background: #999;
}

.tns-controls [aria-controls] {
    font-size: 15px;
    margin: 0 5px;
    padding: 0 1em;
    height: 2.5em;
    color: #fff;
    background: #337ab7;
    border-radius: 3px;
    border: 0;
}

.tns-controls {
    text-align: center;
    margin-bottom: 10px;
}

.tns-nav {
    text-align: center;
    margin: 10px 0;
}

.text-neon[data-action] {
    display: block;
    margin: 10px auto;
    font-size: 17px;
    min-width: 3em;
    text-align: center;
    background: transparent;
    border: 0;
    color:#fff;
}

.text-neon[data-action] {
    display: block;
    margin: 10px auto;
    font-size: 17px;
    min-width: 2.6em;
    text-align: center;
    background: transparent;
    border: 0;
}

.text-neon{
  position: relative;
  top:20%;
  left: 50%;
  transform: translate(-50%, 50%);
  margin: 0;
  padding: 0 20px;
  font-size: 2.6em;
  color: #fff;
  text-shadow: 0 0 20px #2196f3; 
}

.text-neon:after{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: -1;
  color: #2196f3;
  filter: blur(15px);
}

.text-neon:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2196f3;
  z-index: -2;
  opacity: 0.5;
  filter: blur(40px);
}

div.poligono{
  background-color: #1f2e3c;
  -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  padding: 65px 10px;
}

div.normal{
  padding: 65px 10px;
}

div.logos{
  display: flex;
  margin-bottom: 20px;
}
div.logos div{
  margin-left: 6px;
}
div.logos div.logoreact{ 
  background: url('../kidrat/assets/logos/logoreact.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 40px;
  width:80px;
  margin-top: 20px
}

div.logos div.logoheroku{ 
  background: url('../kidrat/assets/logos/logoheroku.png');
  background-size: 110% 120%;
  background-repeat: no-repeat;
  height: 40px;
  width:86px;
  margin-top: 16px
}
/*linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),*/
div.logos div.logoredux{
  background: url('../kidrat/assets/logos/logoredux.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 80px;
  width: 130px;
}
div.logos div.logodjango{ 
  background: url('../kidrat/assets/logos/logodjango.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 40px;
  width:80px;
  margin-top: 20px
}
div.logos div.logofirebase{ 
  background: url('../kidrat/assets/logos/logofirebase.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 40px;
  width:80px;
  margin-top: 20px
}
div.logos div.logobootstrap{ 
  background: url('../kidrat/assets/logos/logobootstrap.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 40px;
  width:  40px;
  margin-top: 20px
}
div.logos div.logoreactnative{ 
  background: url('../kidrat/assets/logos/logoreactnative.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 40px;
  width:  40px;
  margin-top: 20px
}
div.logos div.logoangular{ 
  background: url('../kidrat/assets/logos/logoangular.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 40px;
  width:  40px;
  margin-top: 20px
}
div.logos div.logomaterialui{ 
  background: url('../kidrat/assets/logos/logomaterialui.svg');
  background-size: 120% 120%;
  background-repeat: no-repeat;
  height: 40px;
  width:  40px;
  margin-top: 20px
}
div.logos div.logopythonanywhere{ 
  background: url('../kidrat/assets/logos/logopythonanywhere.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 40px;
  width:140px;
  text-shadow: 0 0 20px #2196f3;
  margin-top: 20px;
  -webkit-filter: invert(100%);
 -moz-filter: invert(100%);
 filter: invert(100%);
}
div.logos div.logojs{ 
  background: url('../kidrat/assets/logos/logojs.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 40px;
  width:  40px;
  margin-top: 20px
}
div.logos div.logophaser{ 
  background: url('../kidrat/assets/logos/logophaser.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 40px;
  width:  40px;
  margin-top: 20px
}

div.logos div.logobulma{ 
  background: url('../kidrat/assets/logos/logobulma.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 40px;
  width:80px;
  margin-top: 20px;
}

div.logos div.logovercel{ 
  background: url('../kidrat/assets/logos/logovercel.jpeg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 40px;
  width:80px;
  margin-top: 20px;
}

div.logos div.logonextjs{ 
  background: url('../kidrat/assets/logos/logonextjs.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 40px;
  width:80px;
  margin-top: 20px;
}


.list-group-item {
  word-break: break-all;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #337ab7;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background: #CCCCCC;
}